@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 99%;
    --foreground: 220 80% 5%;
    --muted: 220 30% 86%;
    --muted-foreground: 220 10% 25%;
    --popover: 220 100% 98%;
    --popover-foreground: 220 80% 4%;
    --card: 220 100% 98%;
    --card-foreground: 220 80% 4%;
    --border: 220 20% 94%;
    --input: 220 20% 94%;
    --primary: 220 94% 49%;
    --primary-foreground: 220 100% 98%;
    --secondary: 220 15% 92%;
    --secondary-foreground: 220 15% 32%;
    --accent: 220 15% 92%;
    --accent-foreground: 220 15% 32%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 94% 49%;
    --radius: 0.5rem;
    --chart-1: 220 94% 49%;
    --chart-2: 190 80% 50%;
    --chart-3: 160 70% 45%;
    --chart-4: 130 60% 55%;
    --chart-5: 100 70% 50%;
  }

  .dark {
    --background: 220 50% 3%;
    --foreground: 220 20% 98%;
    --muted: 220 30% 15%;
    --muted-foreground: 220 20% 65%;
    --popover: 220 50% 3%;
    --popover-foreground: 220 20% 98%;
    --card: 220 50% 4%;
    --card-foreground: 220 20% 99%;
    --border: 220 30% 18%;
    --input: 220 30% 18%;
    --primary: 220 94% 49%;
    --primary-foreground: 220 100% 98%;
    --secondary: 220 30% 10%;
    --secondary-foreground: 220 20% 70%;
    --accent: 220 30% 16%;
    --accent-foreground: 220 20% 76%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 94% 49%;
    --chart-1: 220 94% 49%;
    --chart-2: 190 80% 60%;
    --chart-3: 160 70% 55%;
    --chart-4: 130 60% 65%;
    --chart-5: 100 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border no-scrollbar;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100svh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100svh;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
